 .u-section-1 {
  /* background-image: url("{{ url_for('static', filename='whitebackground.png') }}"); */
  background-image: url('whitebackground.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 629px;
}

.u-section-1 .u-text-1 {
  margin: 29px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 29px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 432px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 18px;
}

.u-section-1 .u-image-1 {
  width: 290px;
  height: 290px;
  /* background-image: url("{{ url_for('static', filename='sarthaksharma.jpg') }}"); */
  background-image: url("sarthaksharma.jpg");
  background-position: 50% 50%;
  margin: 43px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 12px 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 12px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 20px 12px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-1 .u-image-2 {
  width: 290px;
  height: 290px;
  /* background-image: url("{{ url_for('static', filename='LinkedInProfilePic.png') }}"); */
  background-image: url("LinkedInProfilePic.jpg");
  background-position: 50% 50%;
  margin: 43px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 12px 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 12px 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: 20px 12px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 18px;
}

.u-section-1 .u-image-3 {
  width: 290px;
  height: 290px;
  /* background-image: url("{{ url_for('static', filename='avirajmukherjee.png') }}"); */
  background-image: url("avirajmukherjee.jpg");
  background-position: 50% 50%;
  margin: 43px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 12px 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 12px 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-3 {
  font-size: 0.7em;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  margin: 20px 12px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-weight: normal;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    width: 232px;
    height: 232px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 232px;
    height: 232px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 232px;
    height: 232px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }
}